@import "tailwindcss";
@tailwind base;
@tailwind components;

@theme {
  /* TODO - font? */

  /* TODO ADJUST THESE COLOURS */
  --color-background: #111111;
  --color-background-raised: #222222;
  --color-background-lowered: #050505;

  --color-text: #e5e5e5;

  --color-primary: #d1a2dc;
  --color-primary-hover: #e5cbeb;

  --color-priority-0: #bd6f6f;
  --color-priority-1: #bdb16f;
  --color-priority-2: #6fbd76;

  --color-category-0: #6fbdb5;
  --color-category-1: #6f85bd;
  --color-category-2: #8c6fbd;
}

@layer base {
  h1,
  h2,
  h3,
  body,
  div,
  button {
    @apply text-text transition-all duration-300;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }
}
