@import "tailwindcss";
@tailwind base;
@tailwind components;

@theme {
  /* TODO - font? */

  /* TODO ADJUST THESE COLOURS */
  --color-background: #000000;
  --color-background-raised: #333333;
  --color-background-border: #222222;
  --color-primary: #0000ff;
}

@layer base {
  
}